:root {
  --AppBarHeight: 65px;
}

.root {
  color: #fff;
  height: var(--AppBarHeight) !important;
}

.toolbar {
  height: var(--AppBarHeight) !important;
}

.menuButton {
  margin-left: -12px;
  margin-right: 20px;
}

.fakeAppBar {
  height: var(--AppBarHeight) !important;
}