:global {
  html {
		box-sizing: border-box !important;
		width: 100%;
		height: 100%;
		font-family: 'Roboto', 'arial';
	}
	*,
	*:before,
	*:after {
		box-sizing: inherit;
		box-sizing: inherit;
	}

	body {
		background: #383838;
	}

	strong {
		font-weight: 500;
	}
}

.root {
  font-size: 15px;
}

.content {
  padding: 35px 0;
  position: relative;
}